<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1344</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>Á</string>
      <string>A</string>
      <string>e</string>
      <string>a</string>
      <string>B</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gdotaccent</string>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>T</string>
      <string>Tcaron</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>W</string>
      <string>Wcircumflex</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>uni0122</string>
      <string>uni0136</string>
      <string>uni013B</string>
      <string>uni0145</string>
      <string>uni0156</string>
      <string>uni0162</string>
      <string>A.2</string>
      <string>Z.2</string>
      <string>Z.3</string>
      <string>Y.alt</string>
      <string>Z.alt</string>
      <string>Q.ss01</string>
      <string>Q.ss02</string>
      <string>Q.ss03</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>f</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gdotaccent</string>
      <string>h</string>
      <string>hcircumflex</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>dotlessj</string>
      <string>jcircumflex</string>
      <string>k</string>
      <string>kgreenlandic</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>germandbls</string>
      <string>longs</string>
      <string>t</string>
      <string>tcaron</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uni0123</string>
      <string>uni0137</string>
      <string>uni013C</string>
      <string>uni0146</string>
      <string>uni0157</string>
      <string>uni0163</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>w</string>
      <string>wcircumflex</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>f_i</string>
      <string>f_l</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>seven.alt</string>
      <string>seven.silly</string>
      <string>zero.sub</string>
      <string>one.sub</string>
      <string>two.sub</string>
      <string>three.sub</string>
      <string>four.sub</string>
      <string>five.sub</string>
      <string>six.sub</string>
      <string>seven.sub</string>
      <string>eight.sub</string>
      <string>nine.sub</string>
      <string>zero.sup</string>
      <string>one.sup</string>
      <string>two.sup</string>
      <string>three.sup</string>
      <string>four.sup</string>
      <string>five.sup</string>
      <string>six.sup</string>
      <string>seven.sup</string>
      <string>eight.sup</string>
      <string>nine.sup</string>
      <string>uni2080</string>
      <string>uni2081</string>
      <string>uni2082</string>
      <string>uni2083</string>
      <string>uni2084</string>
      <string>uni2085</string>
      <string>uni2086</string>
      <string>uni2087</string>
      <string>uni2088</string>
      <string>uni2089</string>
      <string>uni2070</string>
      <string>uni00B9</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni2074</string>
      <string>uni2075</string>
      <string>uni2076</string>
      <string>uni2077</string>
      <string>uni2078</string>
      <string>uni2079</string>
      <string>fraction</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>underscore</string>
      <string>uni2E17</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>space</string>
      <string>uni2009</string>
      <string>.notdef</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>sterling</string>
      <string>uni20BF</string>
      <string>yen</string>
      <string>plus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>plusminus</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>mu</string>
      <string>percent</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dieresiscomb</string>
      <string>periodcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>hungarumlautcomb</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>brevecomb</string>
      <string>ringabovecomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>overlinecomb</string>
      <string>doublegravecomb</string>
      <string>uni0315</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>dieresis</string>
      <string>grave</string>
      <string>acute</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>circlecomb</string>
      <string>st.dlig</string>
      <string>nd.dlig</string>
      <string>rd.dlig</string>
      <string>th.dlig</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>brevecomb</key>
      <string>uni0306</string>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dotlessj</key>
      <string>uni0237</string>
      <key>hungarumlautcomb</key>
      <string>uni030B</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>mu</key>
      <string>uni03BC</string>
      <key>ogonekcomb</key>
      <string>uni0328</string>
      <key>overlinecomb</key>
      <string>uni0305</string>
    </dict>
  </dict>
</plist>
